.searchBar-wrap {
    background-color: #2a4688;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 30px;
    
  }
  
  .searchBar-wrap form {
    display: flex;
    align-items: center;
  }
  
  .searchBar-wrap input {
    background-color: #2a4688;
    outline: none;
    border: none;
    
  }
  .searchBar-wrap input::placeholder {
    color: white;
  }
  .searchBar-wrap span {
    padding-right: 0.5rem;
    cursor: pointer;
  }
  
  .searchBar-wrap button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #2a4688;
  }
  .icon-search{
    color: white;
    font-size: 20px;
  }