// .ui-container {
//     max-width: 700px;
//     margin: 0 auto;
// }
// .ui-go-back {
//     text-decoration: none;
//     font-size: 0.8rem;
//     color: #a9a9a9;
//     font-weight: 500;
//     margin-bottom: 2rem;
//     display: block;
//   }
// .ui-container header {
//     text-align: center;
//   }
//   .ui-container header .ui-date {
//     display: flex;
//     justify-content: center;
//     gap: 1rem;
//   }
//   .ui-container h1 {
//     margin: 10px 0;
//   }
//   .ui-date {
//     font-size: 0.8rem;
//     color: #a9a9a9;
//     font-weight: 500;
//   }
//   .ui-container footer {
//     margin-bottom: 1rem;
//   }
//   .ui-container img {
//     width: 100%;
//   }
  
//   .blog-subCategory {
//     display: flex;
//     justify-content: center;
//   }
//   .blog-subCategory > div {
//     margin: 1rem;
//   }
//   .ui-desc {
//     padding: 1rem;
//     margin-top: 1.5rem;
//   }
//   .ui-item-author {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .ui-item-author img {
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     object-fit: cover;
//     margin-right: 0.5rem;
//   }
  
//   .ui-item-author p {
//     font-size: 0.6rem;
//     color: #a9a9a9;
//     font-weight: 600;
//   }

// ================================================================
.ui-go-back {
        text-decoration: none;
        font-size: 0.8rem;
        color: #a9a9a9;
        font-weight: 500;
        margin-bottom: 2rem;
        display: block;
}
.ui-container {
    max-width: 700px;
    margin: 0 auto;
    img {
        width: 100%;
    }
    header {
        text-align: center;
        ui-date {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        h1 {
            margin: 10px 0;
        }
    }
    footer {
        .ui-item-author{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.5rem;
            }
            div{
                p{
                    font-size: 0.6rem;
                    color: #a9a9a9;
                    font-weight: 600;
                }
            }
        }
    }
    .ui-desc {
        padding: 1rem;
        margin-top: 1.5rem;
    }
}