

//============================== Mixin =================================
@mixin container-flex {
    display: flex;
    align-items: center;
}
//============================== Mixin =================================
.searchBar-wrap{
    background-color: #2a4688;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 30px;
    form {
        @include container-flex;
        .icon-search{
            color: white;
            font-size: 20px;
        }
        button{
            outline: none;
            border: none;
            color: #fff;
            background-color: #2a4688;
        }
    }
    input {
        background-color: #2a4688;
        outline: none;
        border: none;
    }
    input::placeholder{
        color: white;
    }
    span {
        padding-right: 0.5rem;
        cursor: pointer;
    }
}
